[data-type="carousel-background"] {
	position: absolute;
	left: 0;
	background-color: black;
	width: 100%;
	height: 383px;
	z-index: -1;
}

#event-info-carousel {
	margin: 0 auto;
}

.carousel {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 676px;
	height: 383px;
}
